body {
    background:lightsteelblue;
    font-family: Arial, sans-serif;
    padding: 20px; /* Added padding to prevent margin collapse */
}

h1 {
    color:seagreen;
    margin-bottom: 10px;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects h2 {
    width: 100%
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: lightblue;
    border-radius: 25%;
}

.project h3 {
    margin-left: 50px;
}

.project img {
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid lightblue;
    display: block;  /* center the images inside the blobs */
    text-align: center;
}

.project a {
    text-decoration: underline;
    color:seagreen;
}

.project p {
    width: 90%;
    margin: 10px auto 0 auto;
    color:seagreen;
}

section, .about, .skills, .contact {
    margin-top: 40px; 
}

.about{
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: center;
    }

 .about p {
    margin-top: 10px;
    line-height: 140%;
    }

.skills p{
    color: seagreen;
}