body {
    background:lightsteelblue;
    font-family: Arial, sans-serif;
    padding: 20px; /* Added padding to prevent margin collapse */
}

h1 {
    color:seagreen;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color:seagreen;
    margin-left: 20px;
}

h3 {
    color:seagreen;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39px;
    margin-top: 40px;
}

.project {
    width: 320px; /* Adjusted width for better spacing */
    padding: 20px;
    background: lightblue; /* Background color */
    border-radius: 50px; 
    text-align: center;
}

.project img {
    width: 300px;
    height: 250px;
    margin: 10px auto; /* Centers the image */
    border: 3px solid seagreen; /* Border around images */
    border-radius: 5px;
    display: block;
}

.project a {
    text-decoration: underline;
    color:seagreen;
}

.project p {
    width: 90%;
    margin: 10px auto 0 auto;
    color:seagreen;
}

section, .about, .skills, .contact {
    margin-top: 40px; 
}

.about{
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: center;
    }

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid seagreen;
    }

 .about p {
    margin-top: 10px;
    line-height: 140%;
    }

.skills p{
    color: seagreen;
}